{erl_opts, [debug_info]}.
{deps, [
    {nksip, ".*", {git, "https://github.com/NetComposer/nksip.git", {branch, "v0.6.1"}}},
    {nkservice, ".*", {git, "https://github.com/NetComposer/nkservice.git", {branch, "v0.6.1"}}},
    {gun, "2.0.0"}  % Для HTTP-запросов
]}.

{shell, [
    %{config, "config/sys.config"},
    {apps, [sipstream]}
]}.
